{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="/css/security/security.css" />
{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <div class="securityPage">
        <div class="securityFormPosition">
            <div class="securityForm">
                {{ form_start(form) }}
                    {{ form_row(form._username) }}
                    {{ form_row(form._password) }}

                    <div class="buttonCenter">
                        <button type="submit">Zaloguj</button>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}